
    <div *ngIf= "!showInput">
        <h4>Add to Lists</h4>
        <div  class="display:block" *ngFor="let list of favLists">
            <a style="cursor:pointer;" mat-dialog-close (click)="addToExisting(list)">{{list}}</a>
        </div>    
    </div>
    <hr/>

<button mat-button class="addBtn" type="button" (click)="addNewList()">Create new List</button>
<br/>
<div *ngIf= "showInput">
<input class="search" mat-input class="form-control" [(ngModel)]="listName" name="search"  placeholder="Enter List Name" required>
<button mat-raised-button mat-dialog-close (click)="addToFavourities(listName)" class="saveBtn"><mat-icon  class="saveIcon" color="success">check</mat-icon></button>
</div>


